header {
	text-align: center;
}
h1 {
	color: #52575d;
}

body {
	background-color: #41444b;
}
 .container {
 	border-radius: 25px;
 	justify-content: space-around;
 	display: flex;
 	background-color: #f6f4e6;
 	padding: 20px;
 }
 
 .item {
 	border-radius: 25px;
 	background-color: #fddb3a;
 	width: 33.33%;
 	padding: 15px;
 	margin: 10px;
 	color: #322a26;
 	text-align: center;
 }
 .column {
 	float: left;
 	
 	background-color: #fddb3a;
 	align-content: space-around;
 	padding: 20px;
 	width: 33.33%;
 	justify-content: space-around;
 	text-align: center;
 }
